#ajax-nette-voter-filter input,
#ajax-nette-voter-filter select {
    padding: 3px !important;
    border: 1px solid grey !important;
}

#ajax-nette-voter-filter {
    margin-bottom: 10px !important;
}

#ajax-nette-voter-table tr.empty-row td {
    background-color: #F4F3F1 !important;
    height: 20px !important;
}
